#logo {
    width: 400px;
    margin-left: 10px;
    /*relleno*/
    display: inline-block;
    vertical-align: top;
}

#fondo {
    background-color: #245076;
    width: 970px;
    /*ancho*/
    height: 650px;
    /*alto*/
}

#text-size {
    text-align: right;
    color: white;
    padding: 15px;
}

#text-size a {
    color: yellow;
}

body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 11px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
    text-align: center;
    margin-left: 25px;
}

form.example button {
    float: left;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 15px;
    border: 1px solid rgb(241, 240, 240);
    cursor: pointer;
    margin-left: 7px;
    border-radius: 10px;
}

form.example button:hover {
    background: #0b7dda;
}

#search {
    background-color: rgb(77, 65, 65);
    width: 250px;
    height: 61px;
    border-radius: 10px;
    /*para que el borde sea redondo*/
    margin-left: 290px;
    text-align: center;
    /*para centrar el texto*/
}

.fa-search:before {
    display: none;
}

#go {
    margin-left: 7px;
}

.example {
    padding-top: 17px;
}

#logo,
#search {
    display: inline-block;
    vertical-align: top;
}

#content {
    display: inline-block;
    vertical-align: top;
}

#menu h1 {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    background-color: #4A7FAD;
    color: white;
}

#menu {
    background-color: #4A7FAD;
    width: 80%;
    margin-left: 150px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgb(56, 55, 55);
}

#blanco {
    color: white;
}

#amarillo {
    color: yellow;
    font-size: 22px;
    font-style: italic;
}

#zen {
    color: white;
    font-size: 20px;
}

#main {
    text-align: center;
    width: 700px;
    margin-left: 30px;
    margin-top: 20px;
}

#aside {
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-top: 20px;
}

#main,
#aside {
    display: inline-block;
    vertical-align: top;
}

#fondoblanco {
    padding-left: 60px;
}

#applications,
#getting {
    width: 400px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

#applications {
    margin-left: 5px;
}

hr {
    height: 3px;
    background-color: blue;
}

#footer p {
    display: inline-block;
    color: white;
}

#footer {
    width: 970px;
    height: 120px;
    background-color: #25537A;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(#25537A, #3373AB);
}

#help {
    margin-left: 190px;
}

#diver {
    margin-left: 50px;
    margin-right: 50px;
}